# POSTTEST 1
**NAMA    : DUTA VIRA PRADHANA DIPA**

**NIM     : 2009106053**

In [1]:
import pandas as pd

Pada cell pertama menggunakan import library pandas supaya dapat mengelola dataframe dari file csv

In [2]:
covid = pd.read_csv("data_covid.csv")

Cell kedua terdapat variabel yang isinya berfungsi untuk membaca file csv

In [3]:
jumlahRecord = covid.shape[0]
Atribut = []
for row in covid:
    Atribut.append(row)
tipeObjek = list(covid.select_dtypes(include=['object']))
tipeInt = list(covid.select_dtypes(include=['int64']))
tipeNull = list(covid.columns[covid.isna().sum() > 0])
JumAtributObj= len(tipeObjek)
JumAtributInt = len(tipeInt)
JumAtributNull = len(tipeNull)

Pada cell ketiga
baris pertama = berfungsi untuk menampilkan jumlah atribut yang terdapat pada data di file csv
baris kedua = terdapat variabel Atribut yang berisi list kosong
baris ketiga - keempat = berisi perulangan untuk memasukan kolom yang ada pada data csv ke dalam vaiabel Atribut
baris kelima = terdapat variabel list dengan isinya berupa atribut yang bertipe 'object'
baris keenam = terdapat variabel list dengan isinya berupa atribut yang bertipe 'int64'
baris ketujuh = terdapat variabel list dengan isinya berupa atribut yang bertipe 'null'
baris kedelapan - ke 10 = terdapat varibel yang isinya untuk menghitung panjang dari hasil variabel tipeObjek, tipeINT, dan tipeNull

In [4]:
rekap = {'Jumlah Record' : jumlahRecord,
        'Nama Attribute': Atribut,
        'Jumlah Attribute(Objek)': JumAtributObj,
        'Jumlah Attribute(Int)': JumAtributInt,
        'Jumlah Attribute(NULL)':JumAtributNull}
print('Jumlah Record', "\t\t: ", rekap['Jumlah Record'], "\n")
print('Nama Atribut', "\t\t: ", rekap['Nama Attribute'], "\n")
print('Jumlah Attribute(Objek)', ": ", rekap['Jumlah Attribute(Objek)'], "\n")
print('Jumlah Attribute(Int)', "\t: ", rekap['Jumlah Attribute(Int)'], "\n")
print('Jumlah Attribute(NULL)', "\t: ", rekap['Jumlah Attribute(NULL)'], "\n")

Jumlah Record 		:  17613

Nama Atribut 		:  ['Date', 'Province', 'Daily_Case', 'Daily_Death', 'Daily_Recovered', 'Active_Case', 'Cumulative_Case', 'Cumulative_Recovered', 'Cumulative_Death', 'Cumulative_Active_Case']

Jumlah Attribute(Objek) :  2

Jumlah Attribute(Int) 	:  8

Jumlah Attribute(NULL) 	:  0

Pada cell keempat terdapat variabel 'rekap' yang berisi dictionary berupa variabel-varibel pada cell ketiga

In [5]:
covid.select_dtypes(include=['int64']).describe()

,Daily_Case,Daily_Death,Daily_Recovered,Active_Case,Cumulative_Case,Cumulative_Recovered,Cumulative_Death,Cumulative_Active_Case
count,17613.000000,17613.000000,17613.000000,17613.000000,17613.000000,17613.000000,17613.000000,17613.000000
mean,221.893545,6.870039,195.509964,19.513541,27335.891330,23304.481349,791.460626,3239.949356
std,721.871111,27.146578,736.091866,458.896272,73651.551064,65493.448680,2129.488593,8872.743835
min,0.000000,0.000000,0.000000,-16623.000000,1.000000,0.000000,0.000000,-2228.000000
25%,7.000000,0.000000,3.000000,-8.000000,867.000000,450.000000,25.000000,188.000000
50%,42.000000,1.000000,27.000000,2.000000,6526.000000,5029.000000,164.000000,926.000000
75%,143.000000,4.000000,119.000000,33.000000,19635.000000,15631.000000,574.000000,2467.000000
max,14622.000000,544.000000,20602.000000,9540.000000,842610.000000,820650.000000,26324.000000,129731.000000

Pada cell 5 dataframe dipanggil dengan atribut yang bertipe 'int64' . Dan penggunaan describe untuk menampilkan output yang lengkap dari dataframe yang dipanggil

In [6]:
covid.select_dtypes(include=['int64']).corr()

,Daily_Case,Daily_Death,Daily_Recovered,Active_Case,Cumulative_Case,Cumulative_Recovered,Cumulative_Death,Cumulative_Active_Case
Daily_Case,1.000000,0.668939,0.802706,0.245909,0.754511,0.712402,0.625477,0.854452
Daily_Death,0.668939,1.000000,0.655428,-0.058214,0.585646,0.544240,0.784507,0.655827
Daily_Recovered,0.802706,0.655428,1.000000,-0.380118,0.751661,0.720568,0.610207,0.774173
Active_Case,0.245909,-0.058214,-0.380118,1.000000,-0.053454,-0.067371,-0.041298,0.063495
Cumulative_Case,0.754511,0.585646,0.751661,-0.053454,1.000000,0.995821,0.785630,0.761751
Cumulative_Recovered,0.712402,0.544240,0.720568,-0.067371,0.995821,1.000000,0.766325,0.700845
Cumulative_Death,0.625477,0.784507,0.610207,-0.041298,0.785630,0.766325,1.000000,0.624849
Cumulative_Active_Case,0.854452,0.655827,0.774173,0.063495,0.761751,0.700845,0.624849,1.000000

Pada cell 6 dataframe dipanggil dengan atribut yang bertipe 'int64'. dan menggunakan corr untuk menghitung korelasi antar atribut pada dataframe

In [7]:
INTtoDEC = covid['Daily_Case'].astype(dtype=float)
pd.set_option('display.float_format', '{:.3f}'.format)
INTtoDEC

0         2.000
1         2.000
2         2.000
3         2.000
4         0.000
          ...
17608   649.000
17609   498.000
17610   438.000
17611   657.000
17612   527.000
Name: Daily_Case, Length: 17613, dtype: float64

Pada cell 7
baris pertama terdapat variabel 'INTtoDEC' yang berisi pemanggilan dataframe khususnya atribut 'Daily_Case' dengan tipe data yang diubah menjadi float
baris kedua terdapat fungsi pandas untuk mengatur tampilan panjang dari tipe data float
baris ketiga untuk menampilkan hasilo dari baris pertama dan kedua

In [8]:
covid.select_dtypes(include=['int64']).head(10)

,Daily_Case,Daily_Death,Daily_Recovered,Active_Case,Cumulative_Case,Cumulative_Recovered,Cumulative_Death,Cumulative_Active_Case
0,2,0,0,2,2,0,0,2
1,2,0,0,2,4,0,0,4
2,2,0,0,2,6,0,0,6
3,2,0,0,2,8,0,0,8
4,0,1,0,-1,8,0,1,7
5,0,0,0,0,8,0,1,7
6,0,2,0,-2,8,0,3,5
7,0,0,0,0,8,0,3,5
8,0,1,0,-1,8,0,4,4
9,0,0,0,0,8,0,4,4

Pada cell 8 dataframe dipanggil dengan atribut yang bertipe 'int64'. Kemudian digunakan fungsi head(10) untuk menampilkan 10 data teratas dari dataframe yang dipanggil

In [9]:
covid.select_dtypes(include=['int64']).to_csv('dataset_atribut_angka.csv', index=False)

Pada cell 5 dataframe dipanggil dengan atribut yang bertipe 'int64'. Kemudian digunakan fungsi 'df.to_csv('nama_dataframe')' untuk menyimpan dataframe yang dipanggil menjadi fila csv baru